# Entornos
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3


# Notebooks temporales
.ipynb_checkpoints/

# Datos
data/cruda/
data/procesada/
data/formateada/
data/bronze/
zzz/bronze/
zzz/cruda/
zzz/procesada/
zzz/formateada/

data/

# Logs
logs/
*.log

# VSCode
.vscode/

#web
frontend/   

#node_modules
node_modules/

# Build outputs

#Dockerfiles

Dockerfile
docker-compose.yml

requirements_copy.txt

